{
  "env": "development",
  "server": {
    "port": 3000
  },
  "security": {
    "cookiePath": "dime",
    "secret": "<changeme>",
    "iterations": 1,
    "keylen": 100
  },
  "style": {
    "urlPrefix": "/style",
    "combine": false,
    "combineName": "dime.css"
  },
  "script": {
    "urlPrefix": "/script",
    "combine": false,
    "combineName": "dime.js"
  },
  "db" : {
    "database" : "dime",
    "user"     : "root",
    "password" : "",
    "extra"    : {
      "charset"  : "utf8",
      "collate"  : "utf8_general_ci",
      "dialect"  : "mysql",
      "port"     : 3306,
      "host"     : "localhost"
    }
  }
}
